<div class="container">
    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #dataForm="ngForm">
            <h1>Add Singular Item</h1>
            <div class="form-group">
                <label for="name">Product name: </label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                    #name="ngModel" placeholder="Enter Product Name">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
                <label for="vendor">Vendor name: </label>
                <input type="text" class="form-control" id="vendor" required [(ngModel)]="model.vendor" name="vendor"
                    #vendor="ngModel" placeholder="Enter Vendor Name">
                <div [hidden]="vendor.valid || vendor.pristine" class="alert alert-danger">
                    Vendor is required
                </div>
                <label for="link">Product Link: </label>
                <input type="text" class="form-control" id="link" required [(ngModel)]="model.link" name="link"
                    #link="ngModel" placeholder="Enter Product Link">
                <div [hidden]="link.valid || link.pristine" class="alert alert-danger">
                    A link is required
                </div>
                <label for="link">Product Image Link: </label>
                <input type="text" class="form-control" id="image" required [(ngModel)]="model.image" name="image"
                    #image="ngModel" placeholder="Enter Product Image Link" (change)="updateImageHolder(image.value)">
                <div [hidden]="image.valid || image.pristine" class="alert alert-danger">
                    An image link is required
                </div>
                <div *ngIf="imageUri != ''">
                    <img src="{{imageUri}}" />
                </div>
                <div class="form-group">
                    <label for="currency">Currency: </label>
                    <select class="form-control" id="currency" required>
                        <option *ngFor="let curr of currency" [value]="curr">{{curr}}</option>
                    </select>
                    <input type="text" class="form-control" id="price" required [(ngModel)]="model.price" name="price"
                        (change)="adjustPrice(price.value)" type="number" #price="ngModel">
                    <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
                        A price is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Product Description</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="model.description"
                        name="description" #description="ngModel">
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!dataForm.form.valid">Submit</button>
            </div>
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>You are about to add the following product:</h2>
        <div  #prodRes>
            <div class="right">
                    <h2>Product Invoice</h2>
                    <h4>Created: {{today | date: 'dd LLLL YYYY'}}</h4>
            </div>
            <br><br>
            <table id="prodTable">
                <tr>
                    <th>Name</th>
                    <th>Vendor</th>
                    <th>Link</th>
                    <th *ngIf="model.description != null">Description</th>
                  </tr>
                  <tr>
                    <td>{{ model.name }}</td>
                    <td>{{ model.vendor }}</td>
                    <td>{{ model.link }}</td>
                    <td  *ngIf="model.description != null">{{ model.description }}</td>
                  </tr>
            </table>
            <br>
            <footer>
                &#169; Kevin Vo Le
            </footer>
        </div>
        <button type="button" class="btn btn-primary" (click)="openPDF()">Save as PDF</button>
        <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>