@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

table,
th,
td {
  border: 1px solid black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#prodTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;  
}

#prodTable td, #prodTable th {
  border: 1px solid #ddd;
  padding: 8px;
}