<div *ngIf="product">
  <a class="productTitle" href="{{product.link}}">{{product.name | uppercase}} </a>
  <a class="productTitle"> Details</a>
  <div><span>id: </span>{{product.id}}</div>
  <div class="form-group">
    <label for="product-name">Product name: </label>
    <input id="product-name" [(ngModel)]="product.name" placeholder="name" class="form-control" id="name" required><br>
    <label for="product-price">Product price ({{product.currency }}): </label>
    <input id="product-price" [(ngModel)]="product.price" placeholder="price" class="form-control" id="price"
      type="number" step=".02" (change)="adjustPrice(price.value)" required #price><br>
      <label for="product-price">Product Vendor: </label>
    <input id="product-price" [(ngModel)]="product.vendor" class="form-control"
      id="vendor" readonly><br>
    <label for="product-price">Product Description: </label>
    <input id="product-price" [(ngModel)]="product.description" placeholder="Description" class="form-control"
      id="desc"><br>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>