@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

a[href]{
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    color: inherit,
}

.productTitle {
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    color: inherit,
    
}