<div class="container" #prodList id="mainCap">
  <h2>My Products</h2>
  <table id="myTable" matSort (matSortChange)="sortData($event)">
    <tr class="header">
      <th mat-sort-header="name" class="header-name" style="width:50%;">Name</th>
      <th mat-sort-header="type" class="header-type" style="width:20%;">Price</th>
      <th mat-sort-header="brand" class="header-brand" style="width:20%;">Vendor</th>
      
    </tr>
    <tr *ngFor="let prod of products">
      <th class="header-name" [class.selected]="prod === selectedProduct" (click)="onSelect(prod)">
        <span class="name"><a href="/detail/{{prod.id}}">{{prod.name}}</a></span>
      </th>
      <th class="header-brand">{{prod.price | currency: prod.currency}}</th>
      <th class="header-brand">{{prod.vendor}} <br>
      <a>{{prod.link}}</a></th>
      <th class="header-brand" *ngIf="prod.description != null">{{prod.description}}</th>
    </tr>
    <tr>
      <th>{{calculateCosts()}} {{costString()}}</th>
      <tr *ngFor="let c of totalCosts">
        <th> </th>
        <th> </th>
        <th class="cost-header">{{c.total | currency: c.name}}</th>
    </tr>
  </table>
</div>
<div class="container">
  <button type="button" class="btn btn-primary" (click)="openPDF()">Save as PDF</button>
</div>


<div class="container" *ngIf="selectedProduct != undefined">
  <h2>{{selectedProduct.name}} Details:</h2>
  <app-product-info [product]="selectedProduct"></app-product-info>
  <div>
    <label for="new-product">Product name: </label>
    <input id="new-product" #productName>
    <button type="button" class="add-button" (click)="add(productName.value); productName.value=''">
      Add Product
    </button>
  </div>

  <ul class="products">
    <li *ngFor="let prod of products">
      <a routerLink="/detail/{{prod.id}}">
        <span class="badge">{{prod.id}}</span> {{prod.name}}
      </a>
      <button type="button" class="delete" title="delete product" (click)="delete(prod)">x</button>
    </li>
  </ul>
</div>