<div *ngIf="product">
  <button type="button" class="btn btn-primary" (click)="unlockInputs()">Enable Edit for {{product.name}}</button>
  &#160;
  <br>
  <a class="productTitle" href="{{product.link}}">{{product.name | uppercase}} </a>
  <div><span>id: </span>{{product.id}}</div>
  <div class="form-group">
    <label for="product-name">Product name: </label>
    <input id="product-name" [(ngModel)]="product.name" placeholder="name" class="form-control" id="name"
      [readonly]="!editEnabled"><br>
    <label for="product-price">Product price ({{product.currency }}): </label>
    <input id="product-price" [(ngModel)]="product.price" placeholder="price" class="form-control" id="price"
      type="number" step=".02" [readonly]="!editEnabled"><br>
    <label for="product-price">Product Vendor: </label>
    <input id="product-price" [(ngModel)]="product.vendor" class="form-control" id="vendor"
      [readonly]="!editEnabled"><br>
    <label for="product-price">Product Description: </label>
    <input id="product-price" [(ngModel)]="product.description" placeholder="Description" class="form-control" id="desc"
      [readonly]="!editEnabled"><br>
  </div>
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!editEnabled">Edit {{product.name}}</button> &#160;
</div>